header{
    background-color: blue;
    height: 100px;
}

#title{
    color: orange;
    font-size: 30px;
    text-align: center;
}

main{
    background-color: lightgreen;
    width: 60%;
    border-radius: 40px;
    margin: 0 auto;

}


img{
    border-radius: 50%;
    width: 60%;
}
